body {
  font-family: Helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 30px;
}

main {
  max-width: 896px;
  margin: 0 auto;
}

a {
  color: #4183C4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  border-bottom: 1px solid #cccccc;
}

pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 16px;
  line-height: 19px;
  overflow: auto;
  padding: 10px 14px;
  border-radius: 3px;
}